<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Check Password</title>
  <script>
      window.onload = function () {
          const error = "[[${error}]]"
          if (error && error != "") alert(error)
      }
  </script>
</head>
<body>
<form th:action="@{/article/{articleId}/passwordCheck/update(articleId=${article.id})}" method="post">
  <label>
    비밀번호 입력: <input type="text" id="input-password" name="input-password">
  </label>
  <input type="submit" value="확인">
</form>
</body>
</html>