<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Article List</h1>
  <div th:each="article : ${articles}">
    <p>
      <a th:href="@{/article/{articleId}(articleId=${article.id})}">
        [[${article.title}]] - [[${article.board.boardName}]]
      </a>
    </p>
  </div>
  <form action="/article/create" method="get">
    <input type="submit" value="게시글 작성하기">
  </form>
  <a href="/boards">Back</a>
</body>
</html>